[Unit]
Description=DotMatter Controller (AOT)
After=network-online.target otbr-agent.service bluetooth.service
Wants=network-online.target otbr-agent.service bluetooth.service
Conflicts=dot-matter.service

[Service]
Type=simple
WorkingDirectory=/opt/dot-matter-aot
ExecStart=/opt/dot-matter-aot/DotMatter.Controller
Restart=on-failure
RestartSec=5
User=dotmatter
Group=dotmatter
Environment=DOTNET_ENVIRONMENT=Production
EnvironmentFile=-/etc/dotmatter/dot-matter-aot.env
ReadWritePaths=/var/lib/.dot-matter
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
